body { font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;}

    header{ background-color: #E554731A; background-image: url('../Flower Asset/pngwing\ 10.png');
            background-repeat: no-repeat; background-position: bottom right; }
    
    .header-text{ padding: 150px  970px 170px 240px;}
       .hh1{ color: #272727;
        
        font-size: 80px;
    
        font-weight: 800;
        line-height: normal;}
    .hp{  color: rgba(39, 39, 39, 0.60);
       
        font-size: 18px;
      
        font-weight: 400;
        line-height: 30px;}

.btn { border: 0px solid;
         border-radius: 8px;
    background: #E55473;
       padding:20px 43px ; color: white ; }
       
 .btn:hover{ background-color: rgb(142, 231, 9); }       

 .secdiv1{ color: #272727;s
    text-align: center; padding: 170px 660px 50px;
    }
    .secdivh3{  font-size: 40px;
        line-height: normal;
        font-weight: 800;}

     .secdivp{ color: #27272799;  font-size: 18px;
        
        font-weight: 400;
        line-height: 30px;}   

        .divimg{ display: flex; text-align: center; gap: 24px; padding: 0px 240px 140px}
        #img1{ border: 0px solid ; padding: 110px 78px 0px 76px;
            border-radius: 300px 300px 0px 0px; background: rgba(167, 33, 98, 0.15);}
    
   
     
    #img2 { background: rgba(5, 151, 160, 0.15); padding: 117px 47px 51px;
        border-radius: 300px 300px 0px 0px;}   
      
    #img3 { border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
        padding: 67px 75px 0px;}   
  .imgp{ color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;}     
    
 .hot { text-align: center ; padding: 230px 0px 150px 395px;
    color: #272727;
   
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;} 

.hotimg { display: flex;   background: rgba(229, 84, 115, 0.05)}
.hotimg1 { padding: 100px 430px 100px 186px}
.hotp{ color: rgba(39, 39, 39, 0.60);
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;}
.discount{ color:#E55473;}
.instagram{padding: 128px 663px 48px;
           text-align: center;}

.instagramh{ color: #272727;
            
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;}
   
.instagramp{ color: rgba(39, 39, 39, 0.60);
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;}     

.img4{ display: flex; gap: 24px; padding: 0px 240px 128px;}

.bgimg{background-image: url('../Flower Asset/Rectangle\ 9.png'); padding: 122px 287px 249px ; background-repeat: no-repeat; background-position:center}

.bgimg{ padding: 122px 587px ;}

.dealh{ color: #272727;
    text-align: center;
    
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;}
.dealp{ color: red;
    text-align: center;
  
    font-size: 18px;
    
    font-weight: 400;
    line-height: 30px;}    
 
.subscribe{ display: flex; gap:20px }    
.email{ padding: 23px  150px ; border: 0px solid; border-radius: 5px;}

.footer{ text-align: center; background-color: black; padding: 128px 650px; margin-top: 128px}
.fh1{ color: white; 
    
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;}

.fp{ color: rgba(255, 255, 255, 0.90);
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;}
 small{ color:beige;}

 .email, .btn{ box-shadow:6px 5px 6px rgb(255, 212, 220);  }
 .btn{ box-shadow:5px 4px 8px rgb(185, 231, 250);  }
 
 #img1{  box-shadow:5px 4px 8px rgba(5, 151, 160, 0.15); }
#img2 {  box-shadow:5px 4px 8px rgba(167, 33, 98, 0.15); }
#img3 {  box-shadow:5px 4px 8px rgba(5, 151, 160, 0.15); }
 .imgp{ text-shadow: 2px 2px 2px rgb(176, 243, 255);}